.ham-map-wrapper .map-container {
    padding-bottom: 60%;
    margin-bottom: 20px;
}

.grid-marker {
    font-size: 20px;
    background-color: yellow;
    padding: 0 3px;
}

.grid-marker:hover {
    text-decoration: underline;
}

.infowindow.multi .address {
    padding-bottom: 2px;
    border-bottom: 1px solid #888888;
    padding-top: 2px;
}

.infowindow.multi .address.first {
    padding-top: 0;
}

.infowindow.multi .address.last {
    padding-bottom: 0;
    border-bottom: none;
}

.ham-map-form .error-message {
    font-weight: bold;
    color: #FF0000;
}

.ham-map-form .query-other, .ham-map-form .query-address {
    padding-top: 10px;
}