.view-ham-neighbors .ham-station {
    border: 1px solid #AAAAAA;
    padding: 10px;
    margin-bottom: 10px;
}

.view-ham-neighbors h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

.ham-neighbors-wrapper .neighbors-form {
    margin-bottom: 30px;
}

.ham-neighbors-wrapper .callsign-input {
    width: 150px;
}

.ham-neighbors-wrapper .map-container {
    padding-bottom: 50%;
    margin-bottom: 20px;
}

.ham-neighbors-wrapper .ajax-processing {
    margin-left: 30px;
    font-size: 18px;
}

.ham-neighbors-wrapper .infowindow h3 {
    font-size: 13px;
    margin: 0;
}

.ham-neighbors-wrapper .infowindow .ham-station__inner {
    margin-bottom: 10px;
}

.ham-neighbors-wrapper .infowindow .ham-station__inner:last-child {
    margin-bottom: 0;
}

.ham-neighbors-wrapper .infowindow .ham-station__inner p {
    margin: 0;
}

.ham-neighbors-wrapper .infowindow {
    max-height: 200px;
}
