{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% set col = 0 %}
{% for row in rows %}
  {% if col == 0 %}<div class="row">{% endif %}
  <div class="col-md-3">{{ row.content }}</div>
  {% if col == 3 %}</div>{% set col = 0 %}{% else %}{% set col = col + 1 %}{% endif %}
{% endfor %}
{% if col > 0 %}</div>{% endif %}
